@model BitirmeProjesiDeneme2.Models.Tarif
@{
    ViewData["Title"] = "TarifEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Tarif Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.Ad)
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Açıklama)
    @Html.TextBoxFor(x => x.Açıklama, new { @class = "form-control" })
    <br />

    <!-- Malzeme arama kutusu ve liste -->
    <h3>Malzemeler:</h3>
    <input type="text" id="malzemeSearch" placeholder="Malzeme ara..." class="form-control mb-2" />
    <div id="malzemeList">
        @foreach (var malzeme in ViewBag.Malzemeler)
        {
            <div>
                <input type="checkbox" name="selectedMalzemeler" value="@malzeme.Id" />
                <label>@malzeme.Ad</label>
            </div>
        }
    </div>
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

<!-- jQuery ile malzeme arama işlevi -->
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#malzemeSearch').on('keyup', function () {
                var searchTerm = $(this).val().toLowerCase();
                $('#malzemeList div').each(function () {
                    var malzemeName = $(this).text().toLowerCase();
                    if (malzemeName.includes(searchTerm)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
}
